<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
      <h1>Home</h1>
      {% for page in site.pages %}
        <ul>
          <li>
            <span class="chevron">›</span>
            <a href="{{ page.url }}">{{ page.name | capitalize }}</a>
          </li>
        </ul>
      {% endfor %}
    </ul>
  </body>
</html>
