<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
      <h1>{{ page.title | capitalize }}</h1>
			<span class="size" style="padding-left: 0em;">{{ content }}</span>
      <br>
      <a href="{{ site.url }}">Home</a>
    </ul>
  </body>
</html>
